html{
  background-color: #b1b1b1;
}
h1{
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
  background-color: #eee;
}
h2, li{
  padding: 1em;
  color: white;
  text-decoration: none;
}
a{
  color: white;
}
a:visited{
  color: eee;
}
